<?xml version="1.0"?>
<config>
    <modules>
        <Omikron_ExportExtension>
            <version>1.2.4</version>
        </Omikron_ExportExtension>
    </modules>
    
    <global>
		<models>
            <exportextension>
                <class>Omikron_ExportExtension_Model</class>
            </exportextension>
        </models>
    </global>
</config>
